/* retirado de https://www.w3schools.com/css/css_table.asp */
table {
  /* margin-top: 20px; */
  border-collapse: collapse;
  /* font-family: Arial, Helvetica, sans-serif; */
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

table td , table th {
  border: 1px solid #ddd;
  padding: 7px;
}

table tr:nth-child( odd ) {
  background-color: #f0f0f1;
}

table tr:nth-child( even ) {
  background-color: #f6f6f6;
}

table tr:hover {
  background-color: #ddd;
}

table tr {

}

table th {
  background-color: #017c4f;
  color: white;
  padding-bottom: 12px;
  padding-top: 12px;
}

.divTable .trash {
  color: rgb(189, 6, 6);
  border: 0;
  cursor: pointer;
  width: 30px;
  margin-left: 15px;
  background-color: transparent;
}

.divTable .edit {
  color: black;
  border: 0;
  cursor: pointer;
  width: 30px;
  background-color: transparent;
}

.divTable .trash:hover , .divTable .edit:hover {
  width: 35px;
}